[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
psycopg2-binary = "*"
pylint = "*"
black = "*"
pytest = "*"
pre-commit = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "python test/test.py"
lint = "# To implement"
